<div class="wrapper">

    <h1 id="requirements" class="center pt-4">Requirements</h1>

    <div class="row">
        <div class="col-sm center">
            <div class="box warning">
                <p>AdAway is not available on Google Play! It was removed by Google due to Violation of section 4.4 of
                    the Developer Distribution Agreement. Please install it from F-Droid.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm center">
            <div class="box">
                <p><i class="fab fa-android"></i> Android 4.1 or above</p>
            </div>
        </div>

        <div class="col-sm center">
            <div class="box">
                <p><i class="fas fa-wrench"></i> Optional Root</p>
            </div>
        </div>

        <div class="col-sm center">
            <div class="box">
                <p><i class="fas fa-pencil-alt"></i> R/W access on system</p>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jvectormap.min.js"></script>
    <script src="/js/jvectormap-world-mill.js"></script>

    <h1 id="map" class="center pt-4">World map of AdAway users</h1>

    <div class="pt-2" id="world-map"></div>

    <script>
        let total = 1;
        let data = {};
        fetch('https://app.adaway.org/users.json')
            .then(response => response.json())
            .then(json => {
                data = json;
                $(function () {
                    $('#world-map').vectorMap({
                        map: 'world_mill',
                        series: {
                            regions: [{
                                values: data,
                                scale: ['#FFFFB2', '#FECC5C', '#FD8D3C', '#F03B20', '#BD0026'],
                                normalizeFunction: 'polynomial',
                                legend: {
                                    horizontal: true,
                                    title: 'Percentage'
                                }
                            }]
                        },
                        onRegionTipShow: function (e, el, code) {
                            let percent = data[code];
                            if (percent === undefined) {
                                percent = 0;
                            } else if (percent === 0) {
                                percent = '<0.1';
                            } else {
                                percent = Math.round(percent * 10) / 10;
                            }
                            el.html(el.html() + ' (' + percent + '% of all users)');
                        }
                    });
                });
            });
    </script>

    <h1 id="screenshots" class="center pt-4">Screenshots</h1>

    <div class="row">

        <div class="col-sm center">
            <div class="box screenshot">
                <a href="../assets/img/main_screen.png"><img src="../assets/img/main_screen.png"
                        alt="Main Screen" /></a>
            </div>
        </div>

        <div class="col-sm center">
            <div class="box screenshot">
                <a href="../assets/img/preferences.png"><img src="../assets/img/preferences.png"
                        alt="Preferences" /></a>
            </div>
        </div>

        <div class="col-sm center">
            <div class="box screenshot">
                <a href="../assets/img/root_blocker.png"><img src="../assets/img/root_blocker.png"
                        alt="Root blocking" /></a>
            </div>
        </div>

        <div class="col-sm center">
            <div class="box screenshot">
                <a href="../assets/img/backup_restore.png"><img src="../assets/img/backup_restore.png"
                        alt="Backup & Restore" /></a>
            </div>
        </div>

        <div class="col-sm center">
            <div class="box screenshot">
                <a href="../assets/img/help_screen.png"><img src="../assets/img/help_screen.png"
                        alt="Help Screen" /></a>
            </div>
        </div>

    </div>

    <h1 id="faq" class="center pt-4">FAQ</h1>

    <div class="row">
        <div class="col-sm pt-2">
            <h3>Ads are not blocked when on mobile data connection!</h3>
            <p>AdAway will not work reliably when on Mobile Networks like 3G. You can deactivate that proxy by going to
                your selected APN (On Android 4: Wireless and networks -> More… -> Mobile Networks -> Access Point
                Names) and remove the value in the proxy field.</p>
            <h3 class="pt-1">Ads in Chrome are not blocked!</h3>
            <p>Disable Chrome’s <a href="https://developers.google.com/chrome/mobile/docs/data-compression"
                    target="_blank" rel="noopener">Data Compression Proxy</a>.</p>
            <h3 class="pt-1">Advertisements in Application XYZ are not blocked!</h3>
            <p>Follow <a href="https://github.com/AdAway/AdAway/wiki/BlockNewAds" target="_blank" rel="noopener">this
                    guide</a> to find the corresponding hostnames and how to report them.</p>
            <h3 class="pt-1">Application XYZ stopped working!</h3>
            <p>See this <a href="https://github.com/AdAway/AdAway/wiki/ProblematicApps" target="_blank"
                    rel="noopener">list of problematic apps</a> for a workaround. If your app is not included <a
                    href="https://github.com/AdAway/AdAway/issues" target="_blank" rel="noopener">fill a bug report</a>
                and hope for help.</p>
            <h3 class="pt-1">Back button in Android’s Browser stopped working!</h3>
            <p>Enable the local Webserver in AdAway’s preferences as a workaround.</p>
            <h3 class="pt-1">Are there more hosts sources that can be used?</h3>
            <p>More Hosts sources can be found on the <a href="https://github.com/AdAway/AdAway/wiki/HostsSources"
                    target="_blank" rel="noopener">Wiki on Github</a>.</p>
            <h3 class="pt-1">Redirection Lists for blocked domains in China</h3>
            <p>Add <a href="https://github.com/AdAway/AdAway/wiki/HostsSources#redirection-lists" target="_blank"
                    rel="noopener">Redirection Lists</a> to your Hosts Sources to redirect blocked DNS requests to the
                correct IPs in China. This hosts source contains redirection rules for Google, Facebook, and other.
                <strong>(You need to enable “Allow redirection rules from Hosts Sources” in preferences)</strong>.</p>
            <h3 class="pt-1">More information?</h3>
            <p>Open the <a href="https://github.com/AdAway/AdAway/wiki/HostsSources" target="_blank" rel="noopener">Wiki
                    on Github</a>.</p>
        </div>
    </div>

    <h1 id="support" class="center pt-3">Support</h1>

    <div class="row pt-2">
        <div class="col-sm">
            <p>You can get good question/response support from the <a
                    href="https://forum.xda-developers.com/showthread.php?t=2190753" target="_blank"
                    rel="noopener">AdAway XDA Thread</a>. If no one there can solve your problem and you are then lead
                to believe it is truly an AdAway issue OR something new to enhance AdAway, then click the bug report
                button below.</p>
            <div class="center">
                <a class="button-submit" href="https://github.com/AdAway/AdAway/issues/new/choose" target="_blank"
                    rel="noopener"><i class="fas fa-bug"></i> Fill a bug report</a>
            </div>
        </div>
    </div>

    <h1 id="translate" class="center pt-4">Translate</h1>

    <div class="row pt-2">
        <div class="col-sm">
            <p>Help translate AdAway! Everybody can participate at <a
                    href="https://www.transifex.com/free-software-for-android/adaway/" target="_blank"
                    rel="noopener">AdAway on Transifex</a>.</p>
            <a href="https://www.transifex.com/free-software-for-android/adaway/" target="_blank" rel="noopener"><img
                    alt="Translations Progress" src="../assets/img/translations.png"></a>
        </div>
    </div>

    <h1 class="center pt-3">Donate</h1>

    <div id="donate" class="row pt-1">
        <div class="col-sm center">
            <a class="button-submit" href="https://www.paypal.me/BruceBUJON/" target="_blank" rel="noopener"><i
                    class="fab fa-paypal"></i> Donate via PayPal</a>
        </div>
    </div>

</div>